{% extends "frontend/base/master.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Delete Confirm
{% endblock title %}

{% block content %}


<section class="card">
    <div class="card-header">
        <h5 class="card-title">Delete Book #{{object.id}}</h5>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="alert alert-warning" role="alert">
                Are you sure you want to delete <strong>{{ object.name }}</strong> ?
            </div>
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
</section>

{% endblock %}